/* ------------ ------------ ------------ ------------ */
/* --Main-- ------------ */
.container
  {
    margin-top: 10rem;
  }

.thumbnail
  {
    width: 100%;
  }

.intro
  {
    display: flex;
    margin: 2rem 0 4rem 0;
  }
.introItem
  {
    margin-right: 6rem;
  }

.slider-nav
  {
    margin: 1rem 0 4rem 0;
  }
.slider-nav img
  {
    margin-right: 1rem;
  }

.outro
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    color: #D2D2D2;
  }
.outro a:hover
  {
    color: #121212;
  }
.outro .arrow
  {
    display: none;
  }
.outro a:hover .arrow
  {
    display: inline;
  }


/* ------------ ------------ ------------ ------------ */
/* --RESPONSIVE-- ------ */
@media (max-width: 1152px)
  {
    .intro
      {
        margin: 0 0 1rem 0;
      }
  }

@media (max-width: 764px)
  {
    .container
      {
        margin-top: 6rem;
      }

    .intro
      {
        flex-direction: column;
      }
    .introItem
      {
        display: flex;
        margin-right: 0;
      } 

    .slider-nav
      {
        margin: 0.4rem 0 1rem 0;
      }
    .slider-nav img
      {
        margin-right: 0.4rem;
      }

    .outro
      {
        margin-bottom: 1rem;
      }
  }